{% extends 'layout.html' %}

{% block body %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ratione veritatis, quisquam quibusdam, nostrum quos, commodi
nam voluptatum delectus deserunt porro consequatur doloremque neque dolorem minima deleniti ipsum dolore culpa tempora
ut amet? Eos, modi. Dolores incidunt saepe consequuntur distinctio qui ipsum, provident laborum libero aut vero
accusamus sed fuga quidem nobis, sequi blanditiis quibusdam, necessitatibus repellat quisquam culpa nemo nesciunt error
cum. Libero rerum quam quod veritatis officiis dolorem totam, excepturi hic maiores praesentium repellat mollitia nemo
architecto vero voluptate optio fugiat omnis, dicta cum aliquid quae, tempore neque quidem ipsum. Optio quo dicta, quod
sint ducimus fugiat? Autem reiciendis aperiam voluptatibus, debitis architecto non, dolore, sed molestiae sapiente magni
deleniti quaerat minima repellat! Dolorem reprehenderit repudiandae natus, beatae quis corrupti distinctio quisquam
incidunt facilis voluptatum hic omnis delectus eos voluptas.
{% endblock body %}