{% extends 'layout.html' %} {% block body %}
{% load custom_tags %}
<h3>Kontrol Paneli</h3>
<hr />
<p>Hoşgeldiniz, <b>{{request.user.username}}</b></p>
<hr />
<div class="d-flex">
<a
  href="{% url 'apps.product:add_product' %}"
  class="btn btn-primary text-light"
  >Takip Edilecek Ürün Linki Ekle</a
>
{% if itemExist == True %}
<a href="{% url 'apps.product:compare_price_with_old_price_sync' %}" class="btn btn-success text-light ms-auto">
  Tümünü Güncelle
</a>
{% endif %}
</div>
<hr />
{% if itemExist == True %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Ürün Resmi</th>
      <th scope="col">Ürün İsmi/Ürün Linki</th>
      <th scope="col">Ürün Fiyatı</th>
      <th scope="col">Ürünün Puanı</th>
      <th scope="col">Eklenme Tarihi</th>
      <th scope="col">Güncellenme Tarihi</th>
      <th scope="col" class="d-none">Mail Gönder</th>
      <th scope="col">Şimdi Sorgula</th>
      <th scope="col">Güncelle</th>
      <th scope="col">Sil</th>
    </tr>
  </thead>
  <tbody>
    {% for product, favicon in content %}
    <tr onloadeddata="getRatings('{{product.product_mean_rating}}');">
      <td>
        <img width="50" height="50" src="{{product.product_picture_source}}" alt="Bulunamadı"></img>
      </td>
      {% if product.product_description != "" %}
      <td>
        <img width="16" src="{{favicon}}" alt="Bulunamadı"></img>
        <a href="{{product.product_link}}" target="_blank">{{product.product_description}}</a>
      </td>
      {% else %}
      <td>
        <img width="16" src="{{favicon}}" alt="Bulunamadı"></img>
        <a href="{{product.product_link}}" target="_blank">{{product.product_link|urlizetrunc:40}}</a
        >
      </td>
      {% endif %} {% if product.product_price != 0%}
      <td><span class="product-price">{{product.product_discounted_price}}</span></td>
      {% else %}
      <td><span class="product-price">Ürün fiyatı kazınamamıştır.</span></td>
      {% endif %}
      <td>
        {% if product.product_review_count != '0' %}
        <div class="stars-outer">
          <div class="stars-inner" style="width: {{product.product_mean_rating|getRatingPercentage}}"></div>
        </div>  
        <span>({{product.product_review_count}})</span>
        {% else %}
        <span>Henüz Yorum Yapılmamış.</span>
        {% endif %}
      </td>
      <td>
        <a class="text-muted text-decoration-none">{{product.created_at}}</a>
      </td>
      <td>
        <a class="text-muted text-decoration-none">{{product.updated_at}}</a>
      </td>
      <td class="d-none">
        <a
          href="{% url 'apps.product:send_product_link_to_user' idb64=product.id %}"
          class="btn btn-primary text-light"
          >Gönder</a
        >
      </td>
      <td>
        <a href="{% url 'apps.product:compare_price_with_old_price_sync' idb64=product.id %}" class="btn btn-primary text-light">
          Sorgula
        </a>
      </td>
      <td>
        <a
          class="btn btn-warning text-light"
          href="{% url 'apps.product:update_product' idb64=product.id %}"
          >Güncelle</a
        >
      </td>
      <td>
        <button
          type="button"
          class="btn btn-danger text-light"
          data-bs-toggle="modal"
          data-bs-target="#modal-{{product.id}}"
        >
          Sil
        </button>
        <div
          class="modal fade"
          id="modal-{{product.id}}"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <!-- <h5 class="modal-title" id="staticBackdropLabel">{{product.product_link|urlizetrunc:40}} {{product.id}} </h5> -->
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                Belirtilen ürünü gerçekten silmek istiyor musunuz?
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  İptal
                </button>
                <a
                  type="button"
                  class="btn btn-danger"
                  href="{% url 'apps.product:delete_product' idb64=product.id %}"
                  >Sil</a
                >
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-danger">Henüz bir ürün takip etmiyorsunuz.</div>
{% endif %} 
{% endblock body %}
